extends templates/layout

block content
    table(align="center" valign="top" width="600" style="background-color:#f5f6fa;")
        tbody
            tr
                td(align="center" valign="top")
                    //- img(src="https://designbook-images.s3.ap-northeast-2.amazonaws.com/logo.jpg" width="80")        
                    a(href="http://www.designbook.co.kr")
                        img(src="./img/logo.jpg" width="80")
            tr
                td(align="center" valign="top" style="padding-bottom: 20px;")
                    table(width="400")
                        tr
                            td(align="center" valign="top")
                                a(href="http://designbook.co.kr/goods/goods_view.php?goodsNo=10748")
                                    img(src="./img/202005/noritake.jpg" width="200")
                        tr
                            td(align="center" style="font-family: 'Nanum Gothic', sans-serif; font-weight: bold; font-size: 13px;")
                                a(href="http://designbook.co.kr/goods/goods_list.php?cateCd=011" target="_blank" style="text-decoration: none; color: orange;") 일러스트
                        tr
                            td(align="center" valign="top" style="font-family: 'Muli', sans-serif; font-weight: 500; font-size: 16px;")
                                a(href="http://designbook.co.kr/goods/goods_view.php?goodsNo=10748" target="_blank" style="text-decoration: none; color: #000;") Noritake WORKS
                        tr
                            td(align="center" valign="top" style="font-family: 'Nanum Gothic', sans-serif; font-weight: 300; font-size: 13px;")
                                a(href="http://designbook.co.kr/goods/goods_view.php?goodsNo=10748" target="_blank" style="text-decoration: none; color: #000;") 현대를 대표하는 일러스트 레이터 Noritake의 작품집 입니다.

            tr
                td(align="center" valign="top" style="border-top: 1px solid #ddd; padding: 20px 0;")
                    table(width="400")
                        tr
                            td(align="center" valign="top")
                                img(src="./img/202005/good.jpg" width="200")
                        tr
                            td(align="center" style="font-family: 'Nanum Gothic', sans-serif; font-weight: bold; font-size: 13px;")
                                a(href="http://designbook.co.kr/goods/goods_list.php?cateCd=011" target="_blank" style="text-decoration: none; color: orange;") 종합그래픽
                        tr
                            td(align="center" valign="top" style="font-family: 'Muli', sans-serif; font-weight: 500; font-size: 16px;") 
                                a(href="http://designbook.co.kr/goods/goods_view.php?goodsNo=10748" target="_blank" style="text-decoration: none; color: #000;") Good Design Award 2019 

                        tr
                            td(align="center" valign="top" style="font-family: 'Nanum Gothic', sans-serif; font-weight: 300; font-size: 13px;")
                                a(href="http://designbook.co.kr/goods/goods_view.php?goodsNo=10748" target="_blank" style="text-decoration: none; color: #000; line-height: 20px;") 수상작 모음집으로 제품 디자인 모든 분야의 훌륭한 디자인을 만나보실 수 있습니다. 
            tr
                td(align="center" valign="top" style="border-top: 1px solid #ddd; padding: 20px 0;")
                    table(width="400")
                        tr
                            td(align="center" valign="top")
                                img(src="./img/202005/wisdom.jpg" width="200")
                        tr
                            td(align="center" style="font-family: 'Nanum Gothic', sans-serif; font-weight: bold; font-size: 13px;")
                                a(href="http://designbook.co.kr/goods/goods_list.php?cateCd=011" target="_blank" style="text-decoration: none; color: orange;") 건축/인테리어 
                        tr
                            td(align="center" valign="top" style="font-family: 'Muli', sans-serif; font-weight: 500; font-size: 16px;") 
                                a(href="http://designbook.co.kr/goods/goods_view.php?goodsNo=10748" target="_blank" style="text-decoration: none; color: #000;") Design Wisdom in Small Space 

                        tr
                            td(align="center" valign="top" style="font-family: 'Nanum Gothic', sans-serif; font-weight: 300; font-size: 13px;")
                                a(href="http://designbook.co.kr/goods/goods_view.php?goodsNo=10748" target="_blank" style="text-decoration: none; color: #000; line-height: 20px;")
                                    | Beauty Shop, Sweet Shop, Clothing Shop, Coffee Shop, Restaurant
                                    br
                                    | 본 서적은 소규모 테마 상업공간의 디자인 프로젝트를 선정하여 새로운 디자인 트렌드와 같은 중요한 요소를 보여줍니다.


